---
import CardInfo from "@/components/CardInfo.astro"
import CardInfoContact from "@/components/CardInfoContact.astro"
import CardInfoList from "@/components/CardInfoList.astro"

import { contact, skills, data, languages, interests } from "@cv"
---

<div style="flex: 2 0px;">
	<CardInfoContact title="Title" details={contact} />
	<CardInfoList title="Title" subtitle="" list={skills} />
	<CardInfo title="Title" details={data} />
	<CardInfo title="Title" details={languages} />
	<CardInfo title="Title" details={interests} />
</div>
